h1 {
    color: blue;
    font-size: 50px;
    font-weight: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    text-shadow: 10px 10px 10px grey;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: cyan;
}

.p1 {
    text-align: justify;
    color: blue;
    border: 1px solid gray ;
}

.p2 {
    text-align: justify;
    color: red;
}

a {
    text-decoration: none;
    background: green;
    color: azure;
    padding: 6px;
}

img {
    width: 300px;
    border-radius: 10px 30px 50px 70px;
    box-shadow: 10px 10px 10px gray;
}